NEXT_PUBLIC_SUPABASE_URL=https://cwrnufudrpsbchnunqha.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3cm51ZnVkcnBzYmNobnVucWhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NjYwODEsImV4cCI6MjA5NjE0MjA4MX0.ClwiQFQjInMksutC75jn04wlO0Sq0CF6HJqgUQFQwrA
ANTHROPIC_API_KEY=fe_oa_8963538eb392a2c6c61286aaf9d5458e711493f660fec11d
ADMIN_EMAILS=admin@gmail.com,superadmin@gmail.com
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3cm51ZnVkcnBzYmNobnVucWhhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2NjA4MSwiZXhwIjoyMDk2MTQyMDgxfQ.XhlyayIRTHCUO3_wMBDRw23imKG1e-vhT3OJkJ64bTE
NEXT_PUBLIC_APP_URL=http://localhost:3000
